# Python Environment
venv/
env/
__pycache__/
*.py[cod]

# System Files
.DS_Store

# Datasets (Training data should not be pushed)
*.csv
!test_data.csv 
# Note: We explicitly allow test_data.csv as it is required for Streamlit

# IDE config
.vscode/
.idea/
